.feedback {
  margin-top: 40px;
  margin-bottom: 53px;
}

.feedback__list {
  overflow-x: scroll;
  overflow-y: hidden;

  display: flex;

  position: relative;

  max-width: 700px;

  padding: 10px 15px;

  margin-bottom: 25px;

  &::before {
    position: absolute;
    left: 15px;
    bottom: 0;
    z-index: -1;

    content: "";

    width: calc(100% - 30px);
    height: 1px;

    background-color: fade(@gray, 20%);
  }
}

.feedback__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.415px;

  padding: 15px 0;
  padding-bottom: 13px;
  padding-right: 100px;
  padding-left: 0;

  color: rgba(44, 46, 63, 0.3);
}

.feedback__link--active {
  color: @orange;
  border-bottom: 2px solid @orange;
}

.feedback__card-list {
  position: relative;
}

.feedback__card-item {
  display: none;
  opacity: 0;

  position: absolute;
  left: 0;
  top: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-bottom: 20px;
}

.feedback__card-list .feedback__card-item:first-child {
  position: relative;
  display: flex;

  min-height: 605px;
}

.feedback__card-item--active {
  display: flex;
  opacity: 1;
  transition: 0.6s;
}

.feedback__description {
  flex: 0 0 100%;

  margin: 0 auto;
  text-align: center;

  line-height: 28px;

  padding: 0 11px;
}

.feedback__heading {
  position: relative;

  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -1.245px;

  margin-bottom: 20px;

  color: @black;
}

.feedback__text {
  margin-bottom: 20px;
}

.feedback__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;

  margin-top: 50px;

  text-align: center;

  width: 100%;
}

.feedback__title {
  position: relative;

  width: 100%;

  font-weight: 500;
  font-size: 20px;
  line-height: 37px;
  letter-spacing: -0.691667px;

  margin-bottom: 25px;
  margin-top: 10px;

  &::after {
    position: absolute;
    left: 80px;
    bottom: -4px;

    content: "";

    width: 30%;
    height: 1px;

    background-color: @red;
  }
}

.feedback__people {
  width: 268px;
  padding: 20px;

  margin-left: 0;
  margin: 0 auto;
  margin-top: -370px;

  background-color: @white;
}

.feedback__image-people {
  display: block;
  margin: 0 auto;
}

.feedback__text-people {
  margin-bottom: 16px;
  font-size: 14px;
}

.feedback__name {
  display: inline-block;
  vertical-align: top;

  font-weight: 500;
  letter-spacing: -0.466667px;

  margin-top: 10px;
  margin-left: 0;
}

.feedback__image {
  display: block;

  width: 320px;
  height: auto;

  margin: 0 auto;
}

@media (min-width: @tablet-width) {

  .feedback {
    margin-top: 80px;
    margin-bottom: 75px;
  }

  .feedback__list {
    position: relative;

    max-width: auto;
    width: 100%;

    display: flex;

    padding: 0 37px;

    margin-bottom: 33px;

    &::before {
      position: absolute;
      left: 37px;
      bottom: 0;
      z-index: -1;

      content: "";

      width: calc(100% + 134px);
      height: 1px;

      background-color: fade(@gray, 20%);
    }
  }

  .feedback__item {
    align-items: stretch;
    justify-content: center;
    display: flex;
  }

  .feedback__link {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.415px;

    padding: 12px 0 17px;
    padding-bottom: 10px;
    padding-right: 60px;
    padding-left: 40px;

    color: rgba(44, 46, 63, 0.3);

    &:hover {
      color: @orange;

      border-bottom: 2px solid @orange;
    }
  }

  .feedback__item:first-child .feedback__link {
    padding-left: 0;
  }

  .feedback__card-item {
    display: none;

    min-height: 605px;

    margin-bottom: 20px;

    opacity: 0;

    transition: 0.6s;
  }

  .feedback__card-list .feedback__card-item:first-child {
    position: relative;
    display: flex;

    min-height: 605px;
  }

  .feedback__card-item--active {
    display: flex;
    opacity: 1;
    transition: 0.6s;
  }

  .feedback__description {
    flex: 0 0 98%;

    margin: 0 auto;
    padding: 0 15px;

    text-align: center;
  }

  .feedback__heading {
    font-size: 30px;
    line-height: 45px;
  }

  .feedback__text {
    margin-bottom: 20px;
  }

  .feedback__wrapper {
    flex-direction: row;

    margin-top: 30px;

    width: auto;

    text-align: left;
  }

  .feedback__title {
    position: relative;

    width: 20%;

    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: -0.691667px;

    margin-bottom: 32px;
    margin-top: 0;


    &::after {
      position: absolute;
      left: 0;
      bottom: -14px;

      content: "";

      width: 68px;
      height: 1px;

      background-color: @red;
    }
  }

  .feedback__people {
    width: 382px;
    padding: 30px;

    margin-left: 0;
    margin: 0 auto;
    margin-top: -335px;

    background-color: @white;
  }

  .feedback__text-people {
    margin-bottom: 35px;
  }

  .feedback__name {
    margin-top: 5px;
    margin-left: 13px;

    letter-spacing: -1.4px;

  }

  .feedback__image {
    display: block;

    width: 100%;
    height: auto;
  }

  .feedback__image-people {
    display: inline-block;
    vertical-align: top;

    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {

  .feedback {
    margin-top: -2px;
    margin-bottom: 238px;

    // background-image: url(../img/map.svg);
    // background-repeat: no-repeat;
    // background-position: center 140px;
    // background-size: 1443px 900px;
  }

  .feedback__list {
    overflow: hidden;

    position: relative;

    max-width: 902px;
    width: 902px;

    padding: 14px 0;
    margin-bottom: 34px;

    display: flex;
    flex-wrap: wrap;

    &::before {
      position: absolute;
      left: 0;
      bottom: 15px;
      z-index: -1;

      content: "";

      width: 100%;
      height: 2px;

      background-color: fade(@gray, 20%);
    }
  }

  .feedback__link {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.415px;

    padding: 15px 0 17px;
    padding-right: 60px;
    padding-left: 40px;

    color: rgba(44, 46, 63, 0.3);

    &:hover {
      color: @orange;

      border-bottom: 2.5px solid @orange;
    }
  }

  .feedback__link--active {
    color: @orange;
    border-bottom: 2.5px solid @orange;
  }

  .feedback__item:first-child .feedback__link {
    padding-left: 0;
  }

  .feedback__item:last-child .feedback__link {
    padding-right: 0;
  }

  .feedback__card-item {
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 20px;
  }

  .feedback__description {
    flex: 0 0 31%;

    margin: 0;
    padding: 0;
    text-align: left;
  }

  .feedback__heading {
    position: relative;

    font-weight: 600;
    font-size: 55px;
    line-height: 80px;
    letter-spacing: -1.245px;

    margin-bottom: 56px;
    margin-top: 45px;

    &::after {
      position: absolute;
      left: 0;
      bottom: -23px;

      content: "";

      width: 175px;
      height: 3px;

      background-color: @red;
    }
  }

  .feedback__text {
    margin-bottom: 50px;
    line-height: 1.79;
  }

  .feedback__wrapper {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
  }

  .feedback__people {
    margin-left: -112px;
    margin-top: 0;

    background-color: @white;
  }

  .feedback__image {
    display: block;

    width: 430px;
    height: auto;
  }
}
