.price {
  color: @black;

  margin-bottom: 30px;
}

.price__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 0 14px;
}

.price__item {
  position: relative;

  width: 292px;

  border: 3px solid @red;
  border-radius: 6px;

  padding: 30px 19px;
  padding-bottom: 0;
  margin-bottom: 22px;
  margin-left: 0;

  order: 2;
}

.price__subitem {
  margin-bottom: 10px;
}

.price__underbutton {
  position: absolute;
  bottom: -3px;
  left: -3px;

  width: 292px;
  padding: 28px 0;

  background-color: @red;
}

.price__item--bor-none {
  border: none;

  padding-top: 0;
  margin-left: 0;

  order: 1;

  width: 100%;
}

.price__item--bor-dark {

  border-color: fade(@gray, 30%);
  border-width: 1px;
  margin-right: 0;

  .price__sublist {
    margin-bottom: 40px;
  }

  .price__underbutton {
    width: 294px;

    padding: 26px 0;
  }

  .price__title {
    color: fade(@gray, 70%)
  }

  .price__money {
    color: fade(@gray, 70%)
  }

  .price__subtext {
    &::after {
      background-image: url("../img/icon-tick-or.svg");
    }
  }

  .price__text {
    line-height: 25px;

    &::after {
      background-color: fade(@gray, 30%);
    }
  }
}

.price__title {
  display: flex;
  justify-content: center;

  font-weight: 600;
  font-size: 24px;
  line-height: 34px;

  margin-bottom: 10px;

  color: @red;
}

.price__money {
  display: flex;
  justify-content: center;

  font-weight: 600;
  font-size: 25px;
  line-height: 34px;

  color: @red;

  margin-bottom: 11px;
}

.price__subtext {
  position: relative;

  padding-left: 28px;

  line-height: 32px;


  &::after {
    position: absolute;
    left: 0;
    top: 8px;

    content: "";

    width: 14px;
    height: 12px;

    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.price__text {
  position: relative;

  margin-bottom: 33px;

  line-height: 23px;
  text-align: center;
  letter-spacing: -0.05px;

  &::after {
    position: absolute;
    left: 0;
    bottom: -9px;

    content: "";

    width: 100%;
    height: 1px;

    background-color: fade(@red, 50%);
  }
}

.price__text br {
  display: none;
}

.price__sublist {
  margin-bottom: 32px;
}

.price__subitem {
  margin-bottom: 7px;

  padding-right: 10px;
}

.price__heading {
  position: relative;

  width: 100%;

  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -1.245px;
  text-align: center;

  margin: 0 auto;
  margin-bottom: 20px;
}

.price__text-last {
  color: fade(@gray, 70%);

  margin-bottom: 20px;

  text-align: center;
  line-height: 170%;
}

.price__text-bold {
  font-weight: 500;
  font-size: 18px;
  line-height: 34px;
  text-align: center;

  margin-bottom: 10px;
  padding-left: 0;
}

.price__link {
  position: relative;

  display: flex;
  justify-content: center;

  font-weight: 500;
  font-size: 18px;
  line-height: 32px;

  color: @red;
  text-decoration: underline;

  margin-bottom: 18px;
  padding-left: 0;
}

@media (min-width: @tablet-width) {
  .price {
    color: @black;

    margin-bottom: 102px;
  }

  .price__list {
    padding: 0 20px;
  }

  .price__item {
    width: 288px;

    padding: 30px 20px;
    padding-bottom: 0;
    margin-bottom: 20px;
    margin-left: 50px;

    order: 2;
  }

  .price__title {
    display: flex;
    justify-content: center;

    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: -1px;

    margin-bottom: 10px;

    color: @red;
  }

  .price__money {
    display: flex;
    justify-content: center;

    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    letter-spacing: -1.8px;

    color: @red;

    margin-bottom: 11px;
  }

  .price__sublist {
    margin-bottom: 49px;
  }

  .price__subitem {
    margin-bottom: 7px;

    padding-right: 0;
  }

  .price__underbutton {
    left: -3px;
    bottom: -3px;

    width: 288px;

    padding: 29px 0;
  }

  .price__item--bor-dark {
    margin-right: 50px;

    .price__sublist {
      margin-bottom: 40px;
    }

    .price__underbutton {
      bottom: -1px;
      left: -1px;

      padding: 28px 0;

      width: 288px;
    }
  }

  .price__item--bor-none {
    order: 1;

    width: 100%;
  }

  .price__subtext {
    position: relative;

    padding-left: 28px;

    line-height: 32px;
    letter-spacing: 0.5px;
    font-size: 15px;

    &::after {
      position: absolute;
      left: 0;
      top: 8px;

      content: "";

      width: 14px;
      height: 12px;

      background-image: url("../img/icon-tick.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .price__text {
    position: relative;

    margin-bottom: 30px;

    line-height: 23px;
    text-align: center;

    &::after {
      position: absolute;
      left: 0;
      bottom: -10px;

      content: "";

      width: 100%;
      height: 1px;

      background-color: fade(@red, 50%);
    }
  }

  .price__text br {
    display: none;
  }

  .price__heading {
    width: 20%;
  }

  .price__text-last {
    margin-bottom: 30px;

    line-height: inherit;
  }

  .price__link {
    margin-bottom: 10px;
  }
}

@media (min-width: @desktop-width) {
  .price {
    margin-bottom: 115px;

    padding: 0;
  }

  .price__item {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    width: 370px;
    min-height: 670px;

    border: 3px solid @red;

    padding: 30px;
    padding-bottom: 20px;
    padding-top: 40px;
    margin-left: 0;
  }

  .price__underbutton {
    display: none;
  }

  .price__item--bor-dark {
    margin-right: 0;

    border-color: fade(@gray, 30%);

    .price__sublist {
      margin-bottom: 39px;
    }
  }

  .price__item--bor-none {
    border: none;

    flex-direction: column;

    padding-top: 116px;
    padding-left: 80px;
    padding-right: 15px;

    order: 3;
    width: 370px;
  }

  .price__title {
    display: inline-block;
    vertical-align: top;

    font-size: 28px;

    margin-bottom: 42px;
  }

  .price__money {
    display: inline-block;
    vertical-align: top;

    font-size: 28px;

    margin-bottom: 20px;
    margin-left: auto;
  }

  .price__subitem {
    margin-bottom: 10px;
  }

  .price__text {
    position: relative;

    text-align: left;

    margin-bottom: 60px;

    &::after {
      position: absolute;
      left: 0;
      bottom: -30px;

      content: "";

      width: 100%;
      height: 1px;

      background-color: fade(@red, 50%);
    }
  }

  .price__text br {
    display: block;
  }

  .price__list {
    padding: 0;
  }

  .price__item .price__sublist {
    margin-right: auto;

    width: 270px;
  }

  .price__subtext {
    font-size: inherit;
  }

  .price__heading {

    font-weight: 600;
    font-size: 55px;
    line-height: 80px;
    letter-spacing: -1.245px;
    text-align: left;

    margin: 0;
    margin-bottom: 53px;

    &::after {
      position: absolute;
      left: 0;
      bottom: -27px;

      content: "";

      width: 175px;
      height: 3px;

      background-color: @red;
    }
  }

  .price__text-last {
    text-align: left;
    word-spacing: 0.15em;

    margin-bottom: 57px;

    width: 105%;
  }

  .price__text-bold {
    font-size: 22px;

    margin-bottom: 10px;
  }

  .price__link {
    font-size: 20px;
    line-height: 32px;

    color: inherit;
    text-decoration: none;

    margin-bottom: 0;

    &::before {
      position: absolute;
      left: 0;
      top: 2px;

      content: "";

      width: 189px;
      height: 24px;

      background-image: url("../img/icon-tel-or.svg");
      background-repeat: no-repeat;
    }
  }

}
