@import "fonts.less";
@import "variables.less";
@import "mixins.less";
@import "blocks/page-header.less";
@import "blocks/trip.less";
@import "blocks/places.less";
@import "blocks/feedback.less";
@import "blocks/price.less";
@import "blocks/questions.less";
@import "blocks/page-footer.less";
@import "blocks/popup.less";

html {
  scroll-behavior: smooth;
}

body {
  .mapa();

  min-width: 320px;
  // min-height: 100vh;

  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.466667px;

  color: fade(@gray, 70%);
}

* {
  .mapa();
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;

  color: @gray;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  vertical-align: top;

  position: relative;

  width: 288px;

  padding: 18px 115px 18px 15px;

  font-weight: bold;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;

  background-color: @red;
  color: @white;

  &::after {
    position: absolute;
    right: 40px;
    top: calc(50% - 7px);
    z-index: 2;

    content: "";

    width: 14px;
    height: 14px;

    background-image: url("../img/icon-arrow-down.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }

  &:hover {
    background-color: @orange;
  }

  &:active {
    background-color: @orange;
    opacity: 0.3;
  }
}

.button-noarrow {
  display: inline-block;
  vertical-align: top;

  position: relative;
  z-index: 99;

  width: 288px;

  padding: 19px 40px 19px 40px;

  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;

  background-color: @red;
  color: @white;

  &:hover {
    background-color: @orange;
  }

  &:active {
    background-color: @orange;
    opacity: 0.4;
    box-shadow: 0 0 2px 2px @black;
  }
}

.button-noarrow--center {
  display: block;
  margin: 0 auto;

  border: none;

  padding: 17px 40px 16px 40px;

  width: 100%;

  line-height: 14px;
  letter-spacing: 2px;
  text-align: center;
}

// * {
//   outline: solid 1px red;
// }

@media (min-width: @tablet-width) {
  .container {
    width: 768px;
    margin: 0 auto;
    padding: 0 0;
  }

  .button {
    padding: 19px 90px 19px 40px;

    line-height: 12px;
    font-size: 12px;

    width: auto;
  }

  .button-noarrow {
    padding: 19px 0;

    width: 250px;
  }
}

@media (min-width: @desktop-width) {
  .container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 0;
  }

  .button {
    padding: 32px 180px 30px 40px;
  }

  .button-noarrow {
    padding: 30px 40px 30px 40px;

    width: auto;

    font-size: 12px;
    line-height: 15px;
  }

  .button-noarrow--center {
    width: 100%;

    align-self: flex-end;
  }
}
