@import "fonts.less";
@import "variables.less";
@import "mixins.less";
@import "blocks/page-header.less";
// @import "blocks/main-nav.less";

// html {
//   scroll-behavior: smooth;
// }

body {
  .mapa();

  min-width: 320px;
  // min-height: 100vh;

  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.466667px;

  color: fade(@gray, 70%);
}

* {
  .mapa();
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;

  color: @gray;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  vertical-align: top;

  position: relative;

  padding: 30px 180px 30px 40px;

  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;

  background-color: @red;
  color: @white;

  &::after {
    position: absolute;
    right: 40px;
    top: calc(50% - 7px);
    z-index: 2;

    content: "";

    width: 14px;
    height: 14px;

    background-image: url("../img/icon-arrow-down.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }

  &:hover {
    background-color: @orange;
  }

  &:active {
    background-color: @orange;
    opacity: 0.3;
  }
}

.button-noarrow {
  display: inline-block;
  vertical-align: top;

  position: relative;

  padding: 30px 30px 30px 40px;

  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;

  background-color: @red;
  color: @white;

  &:hover {
    background-color: @orange;
  }

  &:active {
    background-color: @orange;
    opacity: 0.4;
    box-shadow: 0 0 2px 2px @black;
  }
}

.button-noarrow--form {
  display: block;
  margin: 0 auto;

  border: none;

  padding: 18px 40px 17px 40px;

  width: 176px;

  line-height: 15px;
  letter-spacing: 2px;
}

// * {
//   outline: solid 1px red;
// }

@media (min-width: @tablet-width) {
  .container {
    width: 708px;
    margin: 0 auto;
    padding: 0 30px;
  }

  .button {
    font-size: 14px;

    min-width: 270px;

    margin-top: 40px;
  }

  .button--first {
    margin-left: 99px;

    margin-top: 80px;

    text-align: left;
  }

  .button__ellipse {
    display: block;

    position: absolute;
    top: -58px;
    right: -50px;
    z-index: -1;

    width: 162px;
    height: 172px;

    background-image: url("../img/ellipse.svg");
    background-repeat: no-repeat;
    background-size: cover;

    transition: 0.4s ease-out
  }
}

@media (min-width: @desktop-width) {
  .container {
    width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
  }
}
