@red: #fe7865;
@orange: #f17d4b;
@white: #ffffff;
@black: #141517;
@gray: #2c2e3f;

@desktop-width: 1170px;
@tablet-width: 768px;
@mobile-width-only: 767px;
@mobile-and-tablet-width-only: 1169px;
@retina-dppx: 1.5dppx;
